<!-- global java script files -->
<script type="text/javascript" th:src="@{/infusionsoft/js/jquery-2.1.3/jquery-2.1.3.min.js}"></script>
<script type="text/javascript" th:src="@{/infusionsoft/bootstrap-3.2.0-dist/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/infusionsoft/js/jquery-plugins/placeholder-0.2.4/jquery.placeholder.js}"></script>
<script type="text/javascript" th:src="@{/infusionsoft/js/jquery-plugins/validate-1.11.1/jquery.validate.min.js}"></script>

<!--<script src="//cdnjs.cloudflare.com/ajax/libs/headjs/1.0.3/head.min.js"></script>-->
<script type="text/javascript" th:src="@{${#themes.code('infusionsoft.javascript.file')}}"></script>

<script type="text/javascript">
    (function(i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function() {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-53595407-1', 'auto');
    ga('send', 'pageview');
</script>

<script type="text/javascript">
    (function() {
        var walkme = document.createElement('script');
        walkme.type = 'text/javascript';
        walkme.async = true;
        walkme.src = 'https://d3b3ehuo35wzeh.cloudfront.net/users/6543/walkme_6543_https.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(walkme, s);
    })();
</script>

