<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorate="../layouts/infusionsoft">
<head>
    <title th:text="#{registration.pageTitle}"></title>
    <meta name="robots" content="noindex">
</head>
<body>
<!--/*@thymesVar id="returnUrl" type="java.lang.String"*/-->
<!--/*@thymesVar id="userToken" type="java.lang.String"*/-->
<!--/*@thymesVar id="user" type="org.apereo.cas.infusionsoft.domain.User"*/-->
<!--/*@thymesVar id="securityQuestions" type="java.util.List<org.apereo.cas.infusionsoft.domain.SecurityQuestion>"*/-->
<!--/*@thymesVar id="registrationCode" type="java.lang.String"*/-->
<!--/*@thymesVar id="skipWelcomeEmail" type="java.lang.Boolean"*/-->
<!--/*@thymesVar id="error" type="java.lang.String"*/-->

<!--/* These form elements are used for both linkToExisting and register */-->
<template th:fragment="commonFormElements">
    <input type="hidden" name="registrationCode" th:value="${registrationCode}"/>
    <input type="hidden" name="returnUrl" th:value="${returnUrl}"/>
    <input type="hidden" name="userToken" th:value="${userToken}"/>
</template>

<th:block layout:fragment="content">
<div class="container">
    <div class="row">
        <div class="col-xs-12 text-center">
            <div class="page-header">
                <h1 th:text="#{registration.mainTitle.newUser}"></h1>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-9 col-md-6 col-lg-5 col-centered">
            <div class="panel panel-default">
                <div class="panel-heading text-center">
                    <img th:src="@{/infusionsoft/img/infusionsoft_Id.png}"/>

                    <div th:text="#{registration.cardTop.title}"></div>
                </div>
                <div class="panel-body">
                    <form id="linkToExistingForm" th:action="@{linkToExisting}" method="get" th:include="~{::commonFormElements}">
                    </form>

                    <form id="registerForm" th:action="@{register}" method="post" th:object="${user}">
                        <th:block th:include="~{::commonFormElements}"/>
                        <input type="hidden" name="skipWelcomeEmail" th:value="${skipWelcomeEmail}"/>

                        <p class="text-error" th:if="${#fields.hasGlobalErrors()}">
                            <img tabindex="-1" th:src="@{/infusionsoft/img/ic-exclamation-circle.svg}" width="16" height="16" />
                            <th:block th:each="error : ${#fields.globalErrors()}" th:utext="#{${error}}"/>
                        </p>

                        <p class="text-error" th:if="${error != null}">
                            <img tabindex="-1" th:src="@{/infusionsoft/img/ic-exclamation-circle.svg}" width="16" height="16"/>
                            <th:block th:utext="#{${error}}"/>
                        </p>

                        <div class="form-group">
                            <label th:text="#{user.firstName.label}" for="firstName"></label>
                            <input class="form-control" id="firstName" tabindex="1" placeholder="first name" th:field="*{firstName}"/>
                        </div>

                        <div class="form-group">
                            <label th:text="#{user.lastName.label}" for="lastName"></label>
                            <input class="form-control" id="lastName" tabindex="2" placeholder="last name" th:field="*{lastName}"/>
                        </div>

                        <div class="form-group">
                            <label for="username">
                                <span th:text="#{registration.form.email1}"></span>
                                <small class="emailHelp" th:text="#{registration.form.email1.usage}"></small>
                            </label>
                            <input class="form-control" id="username" name="username" tabindex="3" th:value="*{username}"/>
                        </div>

                        <div class="form-group">
                            <label th:text="#{registration.form.email2}" for="username2"></label>
                            <input class="form-control" id="username2" name="username2" tabindex="4" th:value="*{username}"/>
                        </div>

                        <div class="row">
                            <div class="col-xs-12 col-sm-5 col-lg-5">
                                <div class="form-group">
                                    <label th:text="#{registration.form.password1}" for="password1"></label>
                                    <input type="password" class="form-control" id="password1" name="password1" autocomplete="off" tabindex="5"/>
                                </div>

                                <div class="form-group">
                                    <label th:text="#{password.password2.label}" for="password2"></label>
                                    <input type="password" class="form-control" id="password2" name="password2" autocomplete="off" tabindex="6"/>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-7 col-lg-7">
                                <div class="well well-sm">
                                    <span th:text="#{password.criteria.label}"></span>
                                    <br/>
                                    <ul>
                                        <li id="pw_length" th:text="#{password.criteria.length}"></li>
                                        <li id="pw_number" th:text="#{password.criteria.number}"></li>
                                        <li id="pw_upper" th:text="#{password.criteria.uppercase}"></li>
                                        <li id="pw_under" th:text="#{password.criteria.lowercase}"></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label th:text="#{registration.form.security.question}" for="securityQuestionId"></label>
                            <select class="form-control" id="securityQuestionId" name="securityQuestionId" tabindex="7">
                                <option value="" disabled selected th:text="#{registration.form.security.question.placeholder}"></option>
                                <th:block th:each="question : ${securityQuestions}">
                                    <option th:value="${question.id}" th:text="${question.question}"></option>
                                </th:block>
                            </select>
                        </div>

                        <div class="form-group">
                            <label th:text="#{registration.form.security.answer}" for="securityQuestionAnswer"></label>
                            <input class="form-control" id="securityQuestionAnswer" name="securityQuestionAnswer" tabindex="7"/>
                        </div>

                        <div class="row">
                            <div class="col-xs-12 text-center">
                                <div class="form-group">
                                    <div class="checkbox">
                                        <label>
                                            <input id="eula" name="eula" type="checkbox" value="agreed" tabindex="7"/>
                                            <span class="checkbox-label">
                                                <span th:text="#{registration.form.readEULA}"></span>
                                                <a tabindex="-1" href="#" onclick="openLightBox(); return false;" th:text="#{registration.link.policies}"></a>
                                            </span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">

                            <div class="col-xs-12 col-xs-push-0 col-sm-6 col-sm-push-6 text-center">
                                <button type="submit" class="btn btn-primary btn-block" th:text="#{registration.button.create.id}"></button>
                            </div>

                            <div class="col-xs-12 col-xs-pull-0 col-sm-6 col-sm-pull-6 text-center">
                                <a href="#" class="btn btn-link linkToExisting" th:text="#{registration.signin}"></a>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="lightbox-terms">
    <div class="modal-dialog legal-modal">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                </button>
                <h4 th:text="#{registration.legal.eula.title}"></h4>
            </div>
            <div class="modal-body">
                <div id="legal" th:insert="fragments/eula"></div>
                <div id="buttons">
                    <button id="acceptTerms" type="button" class="btn btn-primary" disabled="disabled" th:text="#{registration.legal.accept}"></button>
                </div>
            </div>
        </div>
    </div>
</div>
</th:block>

<th:block layout:fragment="local_script">
    <script type="text/javascript" th:src="@{/infusionsoft/js/createInfusionsoftId.js}"></script>

    <script type="text/javascript" th:inline="javascript">
        function resetCheckPassword() {
            $("#pw_length").css({"list-style-image": ''});
            $("#pw_number").css({"list-style-image": ''});
            $("#pw_upper").css({"list-style-image": ''});
            $("#pw_under").css({"list-style-image": ''});
        }
        function checkPasswordReq() {
            var currPass = $('#password1').val();
            resetCheckPassword();
            if (currPass.length >= 7) {
                $("#pw_length").css({"list-style-image": "url('/infusionsoft/img/checkmark.png')"});
            }
            if (/\d/.test(currPass)) {
                $("#pw_number").css({"list-style-image": "url('/infusionsoft/img/checkmark.png')"});
            }
            if (/[a-z]/.test(currPass)) {
                $("#pw_under").css({"list-style-image": "url('/infusionsoft/img/checkmark.png')"});
            }
            if (/[A-Z]/.test(currPass)) {
                $("#pw_upper").css({"list-style-image": "url('/infusionsoft/img/checkmark.png')"});
            }
        }
        setInterval(function () {
            checkPasswordReq();
        }, 100);

        $(document).ready(function () {
            jQuery.validator.addMethod("password", function (value, element) {
                return this.optional(element) || value.length >= 7 && /\d/.test(value) && /[a-z]/.test(value) && /[A-Z]/.test(value);
            }, [[#{password.error.invalid}]]);

            // Check to ensure that username matches
            // Validate the form
            $('#registerForm').validate({
                errorElement: "span",
                errorClass: "help-block",
                errorPlacement: function (error, element) {
                    if (element.parent().is('label')) {
                        element.next().after(error);
                    } else {
                        element.after('<span class="is-icon is-icon-error form-control-feedback"><img tabindex="-1" src="/infusionsoft/img/ic-message-danger.svg" width="4" height="16"/></span>');
                        element.after(error);
                    }

                },
                rules: {
                    firstName: {
                        required: true
                    },
                    lastName: {
                        required: true
                    },
                    username: {
                        required: true,
                        email: true
                    },
                    username2: {
                        required: true,
                        equalTo: "#username"
                    },
                    password1: {
                        required: true,
                        password: true
                    },
                    password2: {
                        required: true,
                        password: false,
                        equalTo: "#password1"
                    },
                    securityQuestionId: {
                        required: true
                    },
                    securityQuestionAnswer: {
                        required: true
                    },
                    eula: {
                        required: true
                    }
                },
                messages: {
                    firstName: [[#{user.error.firstName.blank}]],
                    lastName: [[#{user.error.lastName.blank}]],
                    username: {
                        required: [[#{user.error.email.blank}]],
                        email: [[#{user.error.email.invalid}]]
                    },
                    username2: {
                        required: [[#{user.error.email.blank}]],
                        equalTo: [[#{user.error.emails.dont.match}]]
                    },
                    password1: {
                        required: [[#{password.error.blank}]],
                        password: [[#{password.error.invalid}]]
                    },
                    password2: {
                        required: [[#{password.error.blank}]],
                        equalTo: [[#{password.error.passwords.dont.match}]]
                    },
                    securityQuestion: [[#{user.error.security.question.blank}]],
                    securityQuestionAnswer: [[#{user.error.security.question.answer.blank}]],
                    eula: [[#{registration.error.eula}]]

                },
                highlight: function (element) {
                    $(element).closest('.form-group').addClass('has-error has-feedback');

                    //Unhide error message
                    $(element).next().removeClass("hidden");
                },
                success: function (element) {
                    element.closest('.form-group').removeClass('has-error has-feedback');

                    //Hide error message
                    element.addClass("hidden");

                    element.next().addClass("hidden");
                }

            });
        });
    </script>
</th:block>

</body>
</html>
