<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorate="../layouts/infusionsoft">
<!--/*@thymesVar id="error" type="java.lang.String"*/-->
<!--/*@thymesVar id="username" type="java.lang.String"*/-->
<head>
    <meta name="robots" content="noindex">

    <style type="text/css" layout:fragment="local_style">

        #forgot {
            width: 299px;
            margin: 10px auto;
        }

        #back-to-signin {
            margin: 5px auto;
            text-align: center;
        }

        input[type="text"] {
            padding: 6px 6px;
        }

    </style>

    <script type="text/javascript" layout:fragment="local_script" th:inline="javascript">

        $(document).ready(function () {

            //Validate the form
            $('#fm1').validate(
                    {
                        rules: {
                            username: {
                                required: true,
                                email: true
                            }
                        },
                        messages: {
                            username: {
                                required: [[#{user.error.email.blank}]],
                                email: [[#{user.error.email.invalid}]]
                            }

                        },
                        highlight: function (element) {
                            $(element).closest('.control-group').removeClass('success').addClass('error');
                        },
                        success: function (element) {
                            element.closest('.control-group').removeClass('error');
                            element.closest('label.error').hide().removeClass('error').addClass('valid').addClass('error');
                        }

                    });

        });

    </script>

</head>
<body layout:fragment="content">

<div id="top-spacer" style="height: 101px;"></div>
<div id="forgot">
    <div class="top-blue">
        Password Reset
    </div>
    <div class="bottom-brown">

        <div class="alert alert-error" th:if="${!#strings.isEmpty(error)}" th:utext="#{${error}}"></div>

        <form th:action="@{recover}" method="post" id="fm1" class="form-vertical">
            <div class="control-group">
                <label for="username" class="control-label">Please <span th:if="${#strings.isEmpty(username)}">enter</span><span th:if="${!#strings.isEmpty(username)}">verify</span> your email address</label>
                <div class="controls">
                    <input type="text" class="required" id="username" name="username" size="25" tabindex="1" style="width: 231px" th:value="${username}" />
                </div>
            </div>

            <div class="control-group" style="text-align: right">
                <input class="btn btn-primary" name="submit" accesskey="l" value="Next" tabindex="4" type="submit" />
            </div>
        </form>
    </div>
</div>

<div id="back-to-signin">
    <a th:href="@{/login}">Back to Sign In</a>
</div>

</body>