<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorate="../layouts/infusionsoft">
<!--/*@thymesVar id="error" type="java.lang.String"*/-->
<!--/*@thymesVar id="username" type="java.lang.String"*/-->
<!--/*@thymesVar id="supportPhoneNumbers" type="java.util.List<String>"*/-->
<head>
    <meta name="robots" content="noindex">
    <title>Password Reset</title>
    <link type="text/css" rel="stylesheet" layout:fragment="local_style" th:href="@{/infusionsoft/css/bootstrap-infusionsoft.css}"/>
</head>

<body>
<div class="container" layout:fragment="content">
    <div class="row">
        <div class="rounded-box">
            <img tabindex="-1" th:src="@{/infusionsoft/img/is_logo.svg}" width="159" height="26" class="logo" th:title="#{Infusionsoft}"/>

            <h2>Password Reset</h2>

            <form th:action="@{recover}" method="post" id="forgotPasswordForm" class="form-horizontal" role="form">

                <p class="text-error" th:if="${!#strings.isEmpty(error)}">
                    <img tabindex="-1" th:src="@{/infusionsoft/img/ic-exclamation-circle.svg}" width="16" height="16"/>
                    <th:block th:utext="#{${error}}"/>
                </p>

                <div class="form-group ">
                    <div class="col-md-12">
                        <span class="ic-envelope"></span>
                        <input type="email" class="form-control" id="username" name="username" placeholder="email@example.com" size="25" tabindex="1" th:value="${username}"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <button class="btn btn-success btn-block" type="submit">Next</button>
                    </div>
                </div>
            </form>
            <a th:href="@{/login}">Back to Sign In</a>
        </div>
    </div>
    <div class="row">
        <div class="need-help col-md-12">
            <p>
                <span>Need help? Call toll free:</span>
                <span th:each="supportPhoneNumber : ${supportPhoneNumbers}">
                    <br><span th:text="${supportPhoneNumber}"></span>
                </span>
            </p>
        </div>
    </div>
</div>

<script type="text/javascript" layout:fragment="local_script" th:src="@{/js/password-forgot.js}"></script>

</body>
</html>