<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorate="../layouts/infusionsoft">
<!--/*@thymesVar id="error" type="java.lang.String"*/-->
<!--/*@thymesVar id="username" type="java.lang.String"*/-->
<!--/*@thymesVar id="supportPhoneNumbers" type="java.util.List<String>"*/-->
<head>
    <meta name="robots" content="noindex">
    <title>Enter Recovery Code</title>
</head>
<body>

<div class="container" layout:fragment="content">
    <div class="row">
        <div class="rounded-box">
            <img tabindex="-1" th:src="@{/infusionsoft/img/is_logo.svg}" width="159" height="26" class="logo" th:title="#{Infusionsoft}"/>

            <h2>Enter Recovery Code</h2>

            <p class="text-error" th:if="${!#strings.isEmpty(error)}">
                <img tabindex="-1" th:src="@{/infusionsoft/img/ic-exclamation-circle.svg}" width="16" height="16"/>
                <th:block th:utext="#{${error}}"/>
            </p>

            <p class="text-info" th:if="${#strings.isEmpty(error)}">
                <img tabindex="-1" th:src="@{/infusionsoft/img/ic-message-info.svg}" width="16" height="16"/>
                We have sent a recovery code to <span th:text="${username}"></span>. Type it into the field below.
            </p>

            <form th:action="@{recover}" method="post" id="recoverPasswordForm" class="form-horizontal" role="form">

                <div class="form-group">
                    <div class="col-md-12">
                        <input type="text" class="form-control" id="recoveryCode" name="recoveryCode" placeholder="recovery code" size="25" tabindex="1" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <button class="btn btn-success btn-block" type="submit">Next</button>
                    </div>
                </div>
            </form>
            <a th:href="@{/login}">Back to Sign In</a>
        </div>
    </div>
    <div class="row">
        <div class="need-help col-md-12">
            <p>
                <span>Need help? Call toll free:</span>
                <span th:each="supportPhoneNumber : ${supportPhoneNumbers}">
                    <br><span th:text="${supportPhoneNumber}"></span>
                </span>
            </p>
        </div>
    </div>
</div>

<script type="text/javascript" layout:fragment="local_script" th:src="@{/js/password-recover.js}"></script>

</body>
</html>