<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorate="../layouts/infusionsoft">
<!--/*@thymesVar id="error" type="java.lang.String"*/-->
<!--/*@thymesVar id="username" type="java.lang.String"*/-->
<head>
    <meta name="robots" content="noindex">

    <style type="text/css" layout:fragment="local_style">

        #recover {
            width: 299px;
            margin: 10px auto;
        }

        #back-to-signin {
            text-align: center;
            margin: 5px auto;
        }

        input[type="text"], input[type="password"] {
            padding: 6px 6px;
        }

    </style>

    <script type="text/javascript" layout:fragment="local_script" th:inline="javascript">

        $(document).ready(function () {

            //Validate the form
            $('#fm1').validate(
                    {
                        rules: {
                            recoveryCode: {
                                required: true
                            }
                        },
                        messages: {
                            recoveryCode: [[#{forgotpassword.noRecoveryCode}]]

                        },
                        highlight: function (element) {
                            $(element).closest('.control-group').removeClass('success').addClass('error');
                        },
                        success: function (element) {
                            element.closest('.control-group').removeClass('error');
                            element.closest('label.error').hide().removeClass('error').addClass('valid').addClass('error');
                        }

                    });

        });

    </script>

</head>
<body layout:fragment="content">

<div id="top-spacer" style="height: 101px;"></div>
<div id="recover">
    <div class="top-blue">
        Enter Recovery Code
    </div>
    <div class="bottom-brown">
        <div class="alert alert-error" th:if="${!#strings.isEmpty(error)}" th:utext="#{${error}}"></div>

        <div class="alert alert-info" th:if="${#strings.isEmpty(error)}">
            We have emailed a recovery code to <span th:text="${username}"></span>.
            Copy and paste the recovery code into the field below and click "Next".
        </div>

        <form th:action="@{recover}" method="post" id="fm1" class="form-vertical">
            <div class="control-group">
                <label for="recoveryCode" class="control-label">Recovery Code</label>
                <div class="controls">
                    <input type="text" class="required" id="recoveryCode" name="recoveryCode" size="25" tabindex="1" style="width: 233px" />
                </div>
            </div>

            <div class="control-group" style="text-align: right">
                <input class="btn btn-primary" name="submit" accesskey="l" value="Next" tabindex="4" type="submit" />
            </div>
        </form>
    </div>
</div>

<div id="back-to-signin">
    <a th:href="@{/login}">Back to Sign In</a>
</div>

</body>