<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorate="../layouts/infusionsoft">
<!--/*@thymesVar id="recoveryCode" type="java.lang.String"*/-->
<!--/*@thymesVar id="supportPhoneNumbers" type="java.util.List<String>"*/-->
<head>
    <meta name="robots" content="noindex">
    <title>Create a New Password</title>
</head>
<body>

<div class="container" layout:fragment="content">
    <div class="rounded-box-wide">
        <div class="row">
            <div class="col-sm-8">
                <img tabindex="-1" th:src="@{/infusionsoft/img/is_logo.svg}" width="159" height="26" class="logo" th:title="#{Infusionsoft}"/>
                <h2>Create a New Password</h2>

                <form th:action="@{reset}" method="post" id="resetPasswordForm" class="form-horizontal">

                    <input id="recoveryCode" name="recoveryCode" type="hidden" th:value="${recoveryCode}"/>

                    <div class="form-group">
                        <div class="col-md-12">
                            <span class="ic-lock"></span>
                            <input id="password1" class="form-control" name="password1" value="" type="password" placeholder="new password" autocomplete="off"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12">
                            <span class="ic-lock"></span>
                            <input id="password2" class="form-control" name="password2" value="" type="password" placeholder="retype new password" autocomplete="off"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <button class="btn btn-success btn-block" type="submit">Change Password</button>
                        </div>
                    </div>
                </form>
                <a th:href="@{/login}">Back to Sign In</a>
            </div>

            <div class="col-sm-4 pw-requirements">
                <ul>
                    <!-- Simply toggle/remove the 'valid' class as needed -->
                    <li id="pw_length" th:text="#{password.criteria.length}"></li>
                    <li id="pw_number" th:text="#{password.criteria.number}"></li>
                    <li id="pw_upper" th:text="#{password.criteria.uppercase}"></li>
                    <li id="pw_lower" th:text="#{password.criteria.lowercase}"></li>
                    <li id="pw_previous" th:text="#{password.criteria.previous}"></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="need-help col-md-12">
            <p>
                <span>Need help? Call toll free:</span>
                <span th:each="supportPhoneNumber : ${supportPhoneNumbers}">
                    <br><span th:text="${supportPhoneNumber}"></span>
                </span>
            </p>
        </div>
    </div>
</div>

<th:block layout:fragment="local_script">
    <script type="text/javascript" th:src="@{/js/password-utils.js}"></script>
    <script type="text/javascript" th:src="@{/js/password-reset.js}"></script>
</th:block>

</body>
</html>