<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorate="../layouts/infusionsoft">
<!--/*@thymesVar id="appCentralBase" type="java.lang.String"*/-->
<!--/*@thymesVar id="appUrl" type="java.lang.String"*/-->
<!--/*@thymesVar id="user" type="org.apereo.cas.infusionsoft.domain.User"*/-->
<head>
    <meta name="decorator" content="black-header-minimal"/>
    <meta name="robots" content="noindex">
</head>
<body>

<div class="container" layout:fragment="content">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-lg-4 col-lg-offset-4">

            <h3 class="text-center">
                This Is Your Infusionsoft ID!
            </h3>

            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="well well-sm">
                        <div class="row">
                            <div class="col-xs-3">
                                <img th:src="@{/infusionsoft/images/incognito.png}"/>
                            </div>
                            <div class="col-xs-9">
                                <h4 th:text="${user.firstName + ' ' + user.lastName}"></h4>
                                <th:block th:text="${user.username}"/>
                            </div>
                        </div>

                    </div>

                    <p>
                        You will sign in to your accounts with this email address and password.
                    </p>

                    <p>
                        <a class="btn btn-primary pull-right" th:href="@{${#strings.isEmpty(appUrl) ? ${appCentralBase} + '/app/central/home' : appUrl}}" role="button">Done</a>
                    </p>
                </div>
            </div>
        </div>
    </div>


</div>

</body>