<p>
    Hi ${user.firstName},
</p>
<p>
    We're sorry you are having trouble logging into your Infusionsoft ID, <b>${user.username}</b>. Here is the recovery
    code you need to reset your password:
</p>
<p>
    <span style="color: #ff0000; font-weight: bold">Recovery Code:</span> <a href="${serverPrefix}/app/registration/recover?recoveryCode=${code}">${code}</a>
</p>
<p>
    Please Note:
</p>
<ul>
    <li>This is a one-time use code that expires in 30 minutes.</li>
    <li>You can enter this code on the page it was requested from, or you can click the code itself.</li>
    <li>If you did not request this code you can safely ignore it.</li>
    <li>If you continue having problems logging in you can contact the administrator of your application or contact
        us at 1 (866) 800-0004 ext. 2</li>
</ul>
<p>
    Thanks,<br/>
    Infusionsoft Customer Support
</p>