<html>
<head>
    <style>
        a.imagelink, a.imagelink:hover {
            text-decoration: none;
            white-space: nowrap;
        }

    </style>
</head>
<body style="margin: 0; padding: 0;">
<div id="mainContent" align="center" style="text-align: center;">
    <table cellpadding="10" cellspacing="0" style="background-color: rgb(225,225,225); width: 100%; height: 100%;">
        <tbody>
        <tr>
            <td valign="top">
                <table align="center" cellpadding="0" cellspacing="0">
                    <tbody>
                    <tr>
                        <td>
                            <table cellpadding="0" cellspacing="0" style="width: 600px;">
                                <tbody>
                                <tr>
                                    <td style="text-align: center; margin: 0; padding: 0; border: none; white-space: normal; line-height: normal; height: 30px; background-color: rgb(255,255,255);">
                                        <img alt="Infusionsoft" border="0" src="${serverPrefix}/img/forgotHeader.png" style="margin: 0; padding: 0; background: none; border: none; white-space: normal; line-height: normal; vertical-align: bottom; height: 100px; width: 600px;" />
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table bgcolor="#FFFFFF" cellpadding="20" cellspacing="0" style="width: 600px; background-color: rgb(255,255,255);">
                                <tbody>
                                <tr>
                                    <td style="margin: 0; padding: 20px; border: none; white-space: normal; line-height: normal;" valign="top">
                                        <div style="height: 40px; line-height: 40px;">&nbsp;</div>
                                        <div style="background: none; border: none; color: rgb(99,99,99); font-family: arial; font-size: 24px; letter-spacing: 1.5px; overflow: auto; padding: 0; text-align: center; white-space: normal;">
                                            Forgot Your Password?
                                        </div>
                                        <div style="height: 40px; line-height: 40px;">&nbsp;</div>
                                        <table align="center" style="width: 300px; height: 75px; border: solid 5px #deead2; padding: 0; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; background-color: #deead2; text-align: center; text-decoration: none;"><tbody><tr>
                                            <td style="background-color: #66b245; color: #fff; text-align: center; font-family: arial; font-size: 18px; font-weight: bold; padding: 15px; vertical-align: middle; letter-spacing: 1px; white-space: nowrap;">
                                                <a class="imagelink" style="text-decoration: none; color: #fff; height:100%; width: 100%" href="${serverPrefix}/app/registration/recover?recoveryCode=${code}&username=${user.username}">
                                                    RESET YOUR PASSWORD
                                                </a>
                                            </td>
                                        </tr></tbody></table>
                                        <div style="height: 15px; line-height: 15px;">&nbsp;</div>
                                        <table style="text-align: center;" align="center"><tbody><tr>
                                            <td style="height: 1px;width: 115px;padding: 0;margin: 0;font-size: 1px;line-height: 1px;"><div style="height: 1px;width: 115px; background:#CAC9C7;">&nbsp;</div></td>
                                            <td style="padding: 15px;font-family: arial; font-size: 18px;color:rgb(99,99,99)">OR</td>
                                            <td style="height: 1px;width: 115px;padding: 0;margin: 0;font-size: 1px;line-height: 1px;"><div style="height: 1px;width: 115px; background:#CAC9C7;">&nbsp;</div></td>
                                        </tr></tbody></table>
                                        <div style="height: 15px; line-height: 15px;">&nbsp;</div>
                                        <div style="font-family: arial; font-size: 18px;color:rgb(99,99,99);text-align: center;letter-spacing: 1px">
                                            Enter this code: <span style="letter-spacing: 0;">${code}</span>
                                        </div>
                                        <div style="height: 70px; line-height: 70px;">&nbsp;</div>
                                        <div>
                                            <div style="font-size: 12px; font-family: arial; margin: 0; padding: 0; background: none; border: none; white-space: normal; line-height: normal; overflow: auto; color: rgb(99,99,99);">
                                                <div contentid="paragraph" style="font-size: 12px; font-family: arial; margin: 0; padding: 0; background: none; border: none; white-space: normal; line-height: normal; overflow: auto; color: rgb(99,99,99);">
                                                    <div style="text-align: center; line-height: 28px; font-size: 12px; letter-spacing: 1px;">
                                                        Infusionsoft, All Rights Reserved
                                                        <br clear="none" />
                                                        1260 S. Spectrum Blvd. Chandler, Arizona 85286 United States
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>