html,body {
	margin:0;
	padding:0;
	border:0;
	background:#F5F5F5;
    color: #333;
}

body {
    font: 12px Arial,Helvetica,Verdana,sans-serif;
}

acronym {
	border-bottom:1px dotted #ccc;
	cursor:help;
}

p {
    margin: 8px 0 12px 0;
}

a {
    color: #006AAA;
}

a:hover {
    color: #107ABA;
}

a img {
	border:0;
	display:block;
}

h2 {
	margin: 0 0 14px 0;
	padding: 0;
    font-size: 15px;
    font-weight: bold;
}

.bold {font-weight:bold;}

.important {color:#b00;}

.center {text-align:center;}

.right {text-align:right;}

.left {text-align:left;}

#headerbg {
    background: url(../images/header-gradient.png);
}

#header {
	margin: 0 auto;
    height: 48px;
    line-height: 48px;
	width: 960px;
	clear: both;
    position: relative;
}

#header #logo {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 150px;
    height: 48px;
    background: url(../images/header-logo.png) no-repeat;
}

#header #title {
    margin: 0 0 0 150px;
    font-family: arial, sans-serif;
    font-size: 16px;
    font-weight: normal;
    color: #808384;
}

#header #userinfo {
    float: right;
    font-size: 12px;
    line-height: 48px;
    color: #808384;
}

#navbg {
    background: url(../images/nav-gradient.png) repeat-x;
}

#nav {
    width: 960px;
    margin: 0 auto;
    height: 41px;
}

#nav ul {
    margin: 0;
    padding: 0;
    line-height: 41px;
    list-style-type: none;
}

#nav li {
    color: #fff;
    float: left;
    padding: 0 10px;
    line-height: 41px;
}

#nav li.selected {
    border-left: 1px solid #5c9e3c;
    border-right: 1px solid #5c9e3c;
    background: rgba(0, 0, 0, 0.05);
}

/*************************************** CONTENT */
#content {
	border-top:1px solid #fff; /* REMOVES VERTICAL MARGIN COLLAPSING */
	margin:0 5%;
	padding:0;
	width:auto !important;
	width /**/:100%;
	clear:both;
}

#content .dataset {
	margin:30px 0 0 0;
	padding:10px;
	border:1px solid #eee;
	clear:both;
	width:auto !important;
	width /**/:100%;
	}

#content .dataset h2 {
	position:relative;
	top:-20px;
	left:-20px;
	width:350px;
	margin:0;
	padding:0 0 1px 5px;
	border:1px solid #ccc;
	background-color:#eee;
	color:#066;
	font-weight:bold;
	font-size:1em;
	line-height:1.3em;
	}

#content .dataset .leftCol {
	float:left;
	width:50%;
	min-width:50%;
	margin:0;
	padding:0;
	}

#appStatus .dataset .rightCol {
	float:right;
	width:50%;
	}

html>body .clear:after {
	content:" ";
	display:block;
	height:0px;
	line-height:0px;
	clear:both;
	visibility:hidden; /* HIDES THE ELEMENT, BUT STILL TAKES UP SPACE */
	}

#content p {
	line-height:1.6em;
}

#content ul {
	margin:0;
	padding:0;
	list-style:none;
	}

#content ul li {
	background:url(../images/bullet_orange.gif) 0px 2px no-repeat scroll;
	padding-left:20px;
	margin-top:.5em;
	}

#content h2 {
	margin: 0 0 10px 0;
	padding: 0;
    font-size: 12px;
    font-weight: bold;
}

#content h3 {
	margin:0;
	padding:0;
	font-size:1.5em;
	color:#333;
	}

#content p.top {
	text-align:right;
	font:bold 1em Verdana,Helvetica,sans-serif;
	}

/*************************************** FOOTER */
#footer {
    text-align: center;
	margin:2em 5% 10px 5%;
	padding:0;
	clear:both;
}

#footer hr {
	margin:0;
	padding:0;
 	height:1px;
 	background:#ccc;
 	color:#ccc;
 	border:0;
 	}

#footer p {
	margin:0;
	padding:0;
	font-size:1em;
	line-height:1.2em;
	color:#999;
	}

#footer p#copyright {margin-top:1em;}

/*************************************** LINK STYLES */
#content a:hover, #content a:focus, #content ul li a:hover, #content ul li a:focus,
#menu ul li a:hover, #menu ul li a:focus,
#footer a:hover, #footer a:focus {
	background:transparent;
	color:#b00;
	text-decoration:underline;
	}

/*************************************** TABLE FORMATTING */
table {
	border-right:solid 1px #999;
	border-bottom:solid 1px #999;
	background-color:#fff;
	font-size:1em;
	}

th {
	border-left:solid 1px #ccc;
	border-top:solid 1px #ccc;
	background-color:#eee;
	color:#066;
	font-weight:normal;
	font-size:1em;
	vertical-align:middle;
	text-align:left;
	padding:0 0 0 2px;
	}

td {
	border-left:solid 1px #ccc;
	border-top:solid 1px #ccc;
	font-size:1em;
	padding:0 0 0 2px;
	}

/*************************************** FORMS */
form {display:inline;}

input.numeric {text-align:right;}

/*************************************** HELP */
#help {
	background-color:#ffc;
	border:1px solid #ccc;
	margin:0 0 15px 0;
	padding:0 0 10px 0;
	}

#help h4 {
	margin:0 0 10px 0;
	border-bottom:1px solid #ccc;
	background-color:#fc3;
	color:#b00;
	font-size:1em;
	font-weight:bold;
	line-height:19px;
	padding:0 0 0 3px;
	}

#help p {
	margin:10px;
	padding:0;
	}

/* #help #closeHelp {display:none;} */

#help h4 a, #help h4 a:visited {
	float:right;
	margin:0;
	padding:0 5px 0 20px;
	text-decoration:none !important;
	color:#ffc !important;
	font-weight:normal;
	line-height:19px;
	background:#b00 url(../images/close.gif) 5px 5px  no-repeat scroll;
	}

#help h4 a:hover, #help h4 a:focus {background:#c33 url(../images/close.gif) 5px 5px  no-repeat scroll !important;}

fieldset {
	border-top:solid 1px #ccc;
	border-bottom:0;
	border-right:0;
	border-left:0;
	margin:0;
	padding:0;
	padding-bottom: 1.5em;
	}
form{
	display: inline;
	}
.accesskey {text-decoration:underline;}	
fieldset div {padding-top:10px;}

legend {color:#066;}

input[type=text], input[type=password], select, textarea {
    border: 1px solid #CBCBCB;
    border-radius: 4px;
    padding: 6px 6px;
    box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.1);
    margin: 0;
}

input[type=submit], input[type=button], a.ui-button {
    font-family: arial, verdana, sans-serif;
    background: url(../images/button-bg-white.png);
    line-height: 27px;
    height: 29px;
    border: 1px solid #CBCBCB;
    padding: 0 10px;
    font-size: 11px;
    font-weight: bold;
    border-radius: 4px;
    color: #333;
}

input[type=submit].primary, input[type=button].primary, a.ui-button.primary {
    color: #fff;
    border: 1px solid #57A938;
    background: url(../images/button-bg-green.png);
}

input[type=submit]:hover, input[type=button]:hover, a.ui-button:hover {
    background: url(../images/button-bg-white-h.png);
}

input[type=submit].primary:hover, input[type=button].primary:hover, a.ui-button.primary:hover {
    background: url(../images/button-bg-green-h.png);
}

a.ui-button {
    height: 27px;
    line-height: 27px;
}

#content .button {
	padding:3px 0px;
	font-size:11px;
	width:11em;
	cursor:pointer;
}

label {
	margin:0 5px 0 0;
	font-weight:bold;
	cursor:pointer;
}

div.label {
    margin: 10px 0 2px 0;
    font-weight: bold;
    font-size: 11px;
}

.important {color:#b00;font-family:monospace;font-weight:bold;font-size:1.2em;}
.evenrow {background-color:#eee;}

table .appHeadingRow th {
	border-top:5px solid #ccc;
	background-color:#666;
	color:#fff;
	text-align:left;
	padding:0 0 0 2px;
	}


#content .button#add {background:#d0d0d0 url(../images/arrowd.gif) right center  no-repeat scroll;}
#content .button#update {background:#d0d0d0 url(../images/update.gif) right center  no-repeat scroll;margin-top:10px;}

#login {
    width: 800px;
    margin: 60px auto;
}

#loginleft {
    width: 380px;
    padding: 0 20px 0 0;
    float: left;
    border-right: 1px solid #ccc;
}

#loginright {
    width: 379px;
    padding: 0 0 0 20px;
    float: left;
}

.formerror {
    color: #c00;
    font-weight: bold;
}

#main {
    width: 800px;
    margin: 0 auto;
}

#biglogo {
    height: 150px;
    background: url(../images/big-logo.png) center bottom no-repeat;
}
