html, body {
    margin: 0;
    padding: 0;
    border: 0;
    background: #F5F5F5;
    color: #444;
}

body {
    font: 12px Arial, Helvetica, Verdana, sans-serif;
    line-height: 18px;
}

acronym {
    border-bottom: 1px dotted #ccc;
    cursor: help;
}

p {
    margin: 0px 0 20px 0;
    color: #444;
}

th {
    font-weight: 600;
}

a {
    color: #006AAA;
}

a:hover {
    color: #107ABA;
}

a img {
    border: 0;
    display: block;
}

h2 {
    margin: 0 0 5px 0;
    padding: 0;
    font-size: 20px;
    color: #444;
    font-weight: 300;
}

h2.apps {
    background: url(/images/apps-icon.png) left center no-repeat;
    padding: 0 0 0 40px;
    font-size: 25px;
    line-height: 40px;
    font-weight: 300;
    color: #40434C;
}

.bold {
    font-weight: bold;
}

.important {
    color: #b00;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

#headerbg {
    background: url(/images/header-gradient.png);
}

#header {
    margin: 0 auto;
    height: 48px;
    line-height: 48px;
    width: 962px;
    clear: both;
    position: relative;
}

#header #logo {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 150px;
    height: 48px;
    background: url(/images/header-logo.png) no-repeat;
}

#header #title {
    margin: 0 0 0 150px;
    font-size: 18px;
    font-weight: normal;
    color: #808384;
}

#header #userinfo {
    float: right;
    font-size: 12px;
    line-height: 48px;
    color: #808384;
}

#modalheaderbg {
    background: url(/images/modal-gradient.png) repeat-x;
}

#modalheader {
    height: 49px;
    width: 962px;
    margin: 0 auto;
    background: url(/images/modal-logo.png) 0 0 no-repeat;
}

#navbg {
    background: url(/images/nav-gradient.png) repeat-x;
}

#nav {
    width: 962px;
    margin: 0 auto;
    height: 41px;
}

#nav ul {
    margin: 0;
    padding: 0;
    line-height: 41px;
    list-style-type: none;
}

#nav li {
    color: #fff;
    font-weight: bold;
    float: left;
    padding: 0;
    margin: 0;
    line-height: 41px;
}

#nav li a {
    display: block;
    color: #fff;
    line-height: 41px;
    padding: 0 10px;
    margin: 0;
}

#nav li a.selected {
    border-left: 1px solid #5c9e3c;
    border-right: 1px solid #5c9e3c;
    padding: 0 9px;
    background: rgba(0, 0, 0, 0.05);
}

#nav li a:hover {
    text-decoration: none;
    background: rgba(0, 0, 0, 0.05);
}

#userSearch {
    margin: 0px;
}

/*************************************** CONTENT */
#content {
    border-top: 1px solid #fff; /* REMOVES VERTICAL MARGIN COLLAPSING */
    margin: 0 5%;
    padding: 0;
    width: auto !important;
    width /**/: 100%;
    clear: both;
}

#content .dataset {
    margin: 30px 0 0 0;
    padding: 10px;
    border: 1px solid #eee;
    clear: both;
    width: auto !important;
    width /**/: 100%;
}

#content .dataset h2 {
    position: relative;
    top: -20px;
    left: -20px;
    width: 350px;
    margin: 0;
    padding: 0 0 1px 5px;
    border: 1px solid #ccc;
    background-color: #eee;
    color: #066;
    font-weight: bold;
    font-size: 1em;
    line-height: 1.3em;
}

#content .dataset .leftCol {
    float: left;
    width: 50%;
    min-width: 50%;
    margin: 0;
    padding: 0;
}

#content p {
    line-height: 1.6em;
}

#content p.top {
    text-align: right;
    font: bold 1em Verdana, Helvetica, sans-serif;
}

/*************************************** FOOTER */
#footer {
    text-align: center;
    margin: 2em 5% 10px 5%;
    padding: 0;
    clear: both;
}

#footer hr {
    margin: 0;
    padding: 0;
    height: 1px;
    background: #ccc;
    color: #ccc;
    border: 0;
}

#footer p {
    margin: 0;
    padding: 0;
    font-size: 1em;
    line-height: 1.2em;
    color: #999;
}

#footer p#copyright {
    margin-top: 1em;
}

#main {
    width: 900px;
    margin: 0 auto;
    padding: 30px;
    background: #fff;
    border: 1px solid #dddddd;
    border-top: none;
}

#biglogo {
    margin-top: 0px;
    height: 75px;
    background: url(../images/big-logo.png) center bottom no-repeat;
}

.usercard {
    border: 1px solid #dddddd;
    border-radius: 4px;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.1);
    background: #f5f5f5;
    padding: 10px;
}

.usercard .photo {
    float: left;
    width: 59px;
    height: 68px;
    background: url(/images/incognito.png);
}

.usercard .name {
    font-size: 18px;
    margin: 0 0 7px 70px;
}

.usercard .info {
    font-size: 14px;
    margin: 7px 0 0 70px;
}

.buttonbar {
    padding: 7px;
    background: #f5f5f5;
    margin: 30px 0 0 0;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    height: 28px;
}

.buttonbar .btn {
    float: right;
}

.btn {
    font-size: 11px;
    font-weight: bold;
}

label {
    font-size: 12px;
}

.accounts {
    border: 1px solid #DDD;
}

.accounts .account {
    border-top: 1px solid #DDD;
    height: 115px;
    display: block;
    color: #333;
    cursor: hand;
    cursor: pointer;
    position: relative;
}

.accounts .account:first-child {
    border-top: none;
}

.accounts .account.crm-account {
    background: #fff url(../images/app-central-infusionsoft.png) 15px 15px no-repeat;
}

.accounts .account.forum-account {
    background: #fff url(../images/app-central-community.png) 15px 15px no-repeat;
}

.accounts .account.customerhub-account {
    background: #fff url(../images/app-central-customerhub.png) 15px 15px no-repeat;
}

.accounts .account.marketplace-account {
    background: #fff url(../images/app-central-marketplace.png) 15px 15px no-repeat;
}

.accounts .account:hover {
    text-decoration: none;
    color: #333;
    background-color: #F5F5F5;
}

.accounts .account form {
    margin: 0;
    padding: 0;
}

.accounts .account-info {
    padding: 15px 0 15px 115px;
    height: 85px;
    background: url(../images/more-arrow.png) 870px center no-repeat;
}

.accounts .account-title {
    font-size: 20px;
    line-height: 35px;
}

.accounts .account-detail {
    font-size: 14px;
    line-height: 20px;
}

.accounts .account-delete {
    position: absolute;
    width: 16px;
    height: 16px;
    border-right: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
    background: #DDD;
    color: #FFF;
    text-align: center;
    line-height: 16px;
    display: none;
}

.accounts .account-delete:hover {
    background: #CCC;
}

.alert-info {
    background: #D5EEF6;
    border: 1px solid #A9CFDA;
    padding: 12px 10px;
    color: #333;
}

.modal-title {
    margin: 50px auto 0 auto;
    text-align: center;
    font-size: 20px;
}

.modal-header h3 {
    font-weight: normal;
}

.modal-body {
    padding: 10px 30px;
}

.quick-editable {
    padding-right: 20px;
}

.quick-editable:hover {
    background: url(../images/pencil.png) right center no-repeat;
}

.quick-editable.editing {
    background: url(../images/pencil.png) right center no-repeat;
}

#quick-editor {
    display: none;
    position: absolute;
    width: 240px;
    height: 130px;
    padding: 20px 0 0 60px;
    background: url(../images/quickedit-bubble.png) right top no-repeat;
}

.modal-title {
    margin: 50px auto 0 auto;
    text-align: center;
    font-size: 20px;
    line-height: 27px;
    font-weight: 300;
    color: #444;
}

.control-label {
    font-size: 12px;
    font-weight: 600;
    color: #444;
}

body {
    font: 12px Open Sans, Arial, Helvetica, Verdana, sans-serif;
    color: #444;
}

.btn {
    background-color: #F9F9F9;
    background-repeat: no-repeat;
    border-color: #BBBBBB;
    border-image: none;
    border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 1px 1px 2px;
    color: #444444;
    cursor: pointer;
    display: inline-block;
    font: 700 12px 'Open Sans', Arial, Verdana, Sans-Serif;
    margin-left: 2px;
    margin-right: 2px;
    padding: 4px 12px;
    position: relative;
    text-decoration: none;
    background-image: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

.btn:hover {
    background: none repeat scroll 0 0 #FDFDFD;
    color: #444444;
    text-decoration: none;
}

.btn:active {
    top: 1px;
    border-bottom: 1px solid #bbb;
    color: #444444;
    text-decoration: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

.btn.btn-primary {
    background-color: #70BD49;
    border-color: #4E972A;
    border-image: none;
    border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 1px 1px 2px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font: 700 12px 'Open Sans', Arial, Verdana, Sans-Serif;
    padding: 4px 12px;
    position: relative;
    text-shadow: 0 1px 0 rgb(87, 155, 60);
    background-image: none;
}

.btn.btn-primary:hover {
    background-color: #77C94E;
    color: #FFFFFF;
}

.btn.btn-primary:active {
    top: 1px;
    border-bottom: 1px solid #4b8c2c;
    color: #fff;
}

.btn-group > .btn,
.btn-group > .dropdown-menu,
.btn-group > .popover {
    font-size: 12px;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a {
    color: #fff;
    text-decoration: none;
    background: #808080;
    background: -moz-linear-gradient(top, #808080 0%, #676767 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #808080), color-stop(100%, #676767));
    background: -webkit-linear-gradient(top, #808080 0%, #676767 100%);
    background: -o-linear-gradient(top, #808080 0%, #676767 100%);
    background: -ms-linear-gradient(top, #808080 0%, #676767 100%);
    background: linear-gradient(top, #808080 0%, #676767 100%);
}

.control-group .sign-in-button {
    background-color: #70bd49;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    color: #fff;
    font: 600 13px 'Open Sans';
    font-family: 'Open Sans', Arial, Verdana, Sans-Serif;
    border: 1px solid #4e972a;
    border-bottom: 2px solid #4e972a;
    text-shadow: 0 1px 0 rgb(87, 155, 60);
    cursor: pointer;
    display: inline-block;
    line-height: normal;
    position: relative;
    text-decoration: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    padding: 8px 0px;
    width: 251px;
    display: block;
    margin: 5px 0 0 0;
}

.control-group .sign-in-button:hover {
    color: #fff;
    background-color: #77c94e;
}

.control-group .sign-in-button:active {
    top: 1px;
    border-bottom: 1px solid #4b8c2c;
    margin-bottom: 1px;
    color: #fff;
}

.required-explanation {
    font-size: 12px;
    color: #888;
    font-style: italic;
    margin-top: 2px;
}

.control-label a {
    font-weight: normal;
    text-align: right;
    margin-left: 129px;
}

.control-label-explanation {
    font-weight: normal;
}

#main p {
    margin-bottom: 20px;
}

#forgot-password {
    text-align: center;
}

#account-central-login {
    text-align: center;
    margin: 28px 0 0 0;
}

#account-central-login a {
    color: #aaa;
}

.form-horizontal .control-label {
    float: left;
    width: 120px;
    padding-top: 5px;
    text-align: right;
}

.form-horizontal .controls {
    margin-left: 140px;
}

.instructions {
    font-size: 11px;
    font-style: italic;
    color: #ccc;
    text-align: center;
    margin: 10px auto 12px auto;
}

form {
    margin-bottom: 0px;
}

/* Bootstrap overrides */

.control-group.error .control-label, .control-group.error .help-block, .controls input {
    color: #444;
}

.control-group.error .checkbox, .control-group.error .radio, .control-group.error input, .control-group.error select, .control-group.error textarea {
    color: #444;
}

label.valid {
    height: 0;
    display: none;
    padding: 0;
    margin: 0;
}

label.error {
    color: #b94a48;
    padding: 1px 8px;
    position: relative;
    bottom: 10px;
    right: 5px;
    margin-bottom: -5px;
}
