.container-fullscreen {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: white;
}

/* Custom container */
.container-narrow {
    position: relative;
    margin: 0 auto;
    width: 960px;
    height: 850px;
    background: white;
    padding: 0 0 130px 0;
}

.header-button {
    float: right;
    margin: 5px 30px 0px 0px;
}

/* Main marketing message and sign up button */
.jumbotron {
    margin: 30px 0;
    text-align: center;
    display: none;
}

.jumbotron h1 {
    font-family: open sans, arial, Verdana, sans-serif;
    font-size: 28px;
    color: #157eba;
}

#lanyard {
    position: absolute;
    left: 265px;
}

#already-have-id {
    float: left;
}

#flipLink {
    float: right;
    text-align: right;
    margin: 0 auto 5px auto;
}

#idcard {
    height: 678px;
    width: 430px;
    background: #ffffff;
    margin: 0 auto;
}

.cardTop, .cardTopBack, .cardTopSuccess {
    width: 430px;
    height: 142px;
    border-radius: 5px 5px 0 0;
    background: #dbe5eb;
}

.cardTop {
    background-image: url("/img/infusionsoft_Id.png");
    background-repeat: no-repeat;
    background-position: 150px 30px;
}

.cardTopBack {
    background-image: url("/img/question-mark.png");
    background-repeat: no-repeat;
    background-position: 191px 37px;
}

.cardTopSuccess {
    background-image: url("/img/create_account_success.png");
    background-repeat: no-repeat;
    background-position: 192px 38px;
}

#success-text-top {
    text-align: center;
    font-size: 14px;
}

#success-text-top em {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
}

#success-note-text {
    position: relative;
    background: #d5d5d5;
    height: 146px;
    width: 100%;
    border-radius: 5px;
}

#success-note-img {
    position: absolute;
    top: -18px;
    left: 167px;
    height: 35px;
    width: 35px;
    background: url("/img/exclamation.png") center center no-repeat;

}

#success-note-list {
    text-align: left;
}

#success-note-list ul {
    margin: 0;
}

#success-note-list ul li {
    line-height: 17px;
    margin-bottom: 15px;
    padding: 0;
    list-style: none;
    position: relative;
}

#success-note-list ul li:before {
    content: '';
    display: block;
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 6px;
    left: -20px;
    top: .5em;
    background-color: #de4326;
}

.success-note-text em {
    font-style: italic;
}

#success-note-text-red {
    padding-top: 28px;
    padding-bottom: 5px;
    color: #de4326;
    font-weight: bold;
}

#cardTopTextBack {
    clear: both;
    color: #157eba;
    font-size: 18px;
    text-align: center;
    padding: 100px 0 0 0;
    font-weight: 600;
}

#cardTopText {
    clear: both;
    color: #666;
    font-size: 13px;
    text-align: center;
    font-style: italic;
    padding: 107px 0 0 0;
}

#successCardTopText {
    clear: both;
    font-size: 18px;
    color: #68b044;
    text-align: center;
    padding: 100px 0 0 0;
    font-weight: 600;
}

#cardBottom, #cardBottomBack {
    background: #e4e4e4;
    width: auto;
    height: auto;
    border-top: 3px solid #ffffff;
    padding: 25px 30px 25px 30px;
    border-radius: 0 0 5px 5px;
}

#cardBottom input[type="text"], input[type="password"] {
    padding: 6px 6px;
}

#cardBottom form {
    margin: 0;
}

#cardBottomBack hr {
    margin: 0;
    border-top: 1px solid #cecece;
    border-bottom: none;
    position: relative;
    top: 8px;
}

.faqQuestion {
    font-weight: bold;
    padding-bottom: 7px;
}

.faqAnswer {
    font-weight: normal;
    padding-bottom: 30px;
}

.faqQuestion, .faqAnswer, .faqContact {
    font-size: 13px;
}

.faqAnswer ul {
    margin: 5px 0 25px 20px;
}

.faqAnswer ul li {
    line-height: 17px;
    margin-bottom: 15px;
    padding: 0;
    list-style: none;
    position: relative;
}

.faqAnswer ul li:before {
    content: '';
    display: block;
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 6px;
    left: -20px;
    top: .5em;
    background-color: #157eba;
}

.faqContact {
    text-align: center;
    margin-top: 8px;
}

.faqContact em {
    font-weight: bold;
    font-style: normal;
}

.emailHelp {
    font-size: 12px;
    font-weight: normal;
    color: #666666;
}

.formLabel {
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 1px;
}

.form-spacer {
    height: 15px;
}

.password-fields {
    float: left;
}

.password-info {
    font-size: 13px;
    float: left;
    margin: 21px 0 0 20px;
    padding: 10px 15px 15px 15px;
    background: #d5d5d5;
    width: 138px;
    height: 89px;
    border-radius: 5px;
}

.password-info ul {
    margin: 5px 0 0 15px;
}

.password-info ul li {
    line-height: 17px;
    margin: 0;
    padding: 0;
}

.createDiv {
    clear: both;
    margin: 7px 0 0 85px;
}

.skipLink {
    padding-top: 10px;
}

#floaterLeft, #floaterRight {
    color: #888;
    font-size: 13px;
    text-align: center;
    font-style: italic;
}

#floaterLeft {
    position: absolute;
    top: 155px;
    left: 75px;
    padding-right: 80px;
    background-image: url("/img/left_ball.png");
    background-repeat: no-repeat;
    background-position: 100% 50%;
    z-index: 100;
}

#floaterRight {
    position: absolute;
    top: 363px;
    right: 59px;
    padding-left: 80px;
    background-image: url("/img/right_ball.png");
    background-repeat: no-repeat;
    background-position: 0% 50%;
    z-index: 100;
}

#main_title {
    position: absolute;
    text-align: center;
    top: 30px;
    width: 960px;
    z-index: 110;
}

#lanyard_background {
    position: absolute;
    left: 420px;
    height: 145px;
    width: 122px;
    background-image: url("/img/lanyard.png");
    background-repeat: no-repeat;
    background-position: -87px -155px;
    z-index: 100;
}

#main_title_div {
    height: 98px;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 60px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

label.error {
    color: #b94a48;
    clear: both;
    padding: 1px 8px;
    position: relative;
    bottom: 10px;
    right: 5px;
    margin-bottom: -5px;
}

.control-group {
    margin-bottom: 0px;
}

::-webkit-input-placeholder {
    font-style: italic;
    color: #444;
}

::-moz-placeholder {
    font-style: italic;
    color: #444;
}

/* firefox 19+ */
:-ms-input-placeholder {
    font-style: italic;
    color: #444;
}

/* ie */
input:-moz-placeholder {
    font-style: italic;
    color: #444;
}

::-webkit-input-placeholder {
    color: #444;
    font-style: italic;
}

:focus::-webkit-input-placeholder {
    text-indent: -999px
}

::-moz-placeholder {
    color: #444;
    font-style: italic;
}

:focus::-moz-placeholder {
    text-indent: -999px
}

.text-center .btn-primary {
    margin-top: 20px;
}

.checkbox {
    font-size: 13px;
}

