html, body {
    background: #F5F5F5;
}
table.borderlessTable {
    margin-bottom: 25px !important;
    width: 100%;
}
table {
    empty-cells: show;
    padding: 0;
    border-collapse: collapse;
    border-spacing: 0;
}
td.borderlessTableTd {
    color: #444444;
    font-family: "Open Sans" !important;
    font-size: 24px;
    font-weight: 300 !important;
    padding-top: 40px;
}
td {
    vertical-align: top;
    font-family: 'Open Sans',Arial,Verdana,Sans-Serif;
}