/* Basic element styles */
html, body {margin:0 !important; padding:0 !important;} /* Need for WebKit */
html, body { font-family: Arial, Verdana, Sans-Serif; font-size:12px; background-color: #FFFFFF; line-height:16px; height: 100%; width: 100%; }

table { padding: 0px; empty-cells: show; }
td { vertical-align: top; font-family: Arial, Verdana, Sans-Serif; font-size:12px; color: #666666; }
tbody {margin: 0px; padding: 0px;}

form { margin-top:0px; margin-bottom:0px; }
input { font-size:12px; color: #000000; border: solid 1px #cfcfcf; font-family: Arial, Verdana, Sans-Serif; padding-left:4px; margin-bottom: 10px}

a { font-family: Arial, Verdana, Sans-Serif; font-size:12px; color:#175CC3; text-decoration: underline; font-weight:normal; }
a:hover { text-decoration: underline; color:#0066ff; }

/* General page styles */
#header div {
	background: transparent url("../images/logo-bg2.jpg") no-repeat;
	height: 68px;
}

#header {
    background: none; padding: 0px;
}

.body {padding: 20px;}

#content {padding:20px 0px 10px 20px;}

/* Login Form */
.loginPage .loginTextLogo { font-family: aerial,sans-serif; color: #333333; font-size: 25pt; padding: 5px; }
.loginPage .loginLogo { padding: 5px; }
.loginPage #content { padding:0px; background-color:#E4E4E4; }

.loginBox { padding: 1px; width: 435px; padding-top:100px; }
.login-label { font-size:10pt; color:#333333; font-weight:bold; font-family:arial,sans-serif; }
.login-field { font-size: 20px; margin-right: 6px; font-family: lucida grande; color: #555555; padding: 6px; width: 280px; height: 38px; }

.login-field-td { padding-bottom: 20px; }

.loginPage .loginMessage { border-width: 1px; border-style: solid; font-size: 10pt; font-family: arial,sans-serif; color: #000000; width: 75%; padding: 10px; text-align: left; }
.loginPage .loginErrorMessage { border-color: #CC0000; background-color: #FFEBE8; margin-bottom: 10px; }
.loginPage .loginNotificationMessage { border-color: #E6DB55; background-color: #FFFFE0; }

.loginPage .loginGrayLine { background: url("../images/login/login_gray_line.png") repeat-x; padding-bottom: 4px; }

.loginPage #login-container { height: 100%; width: 100%;} 
.loginPage #login-header td { margin:0px; padding: 0px;} 
.loginPage .login-header td.left { height: 13px; width: 13px; background: url(../images/login/top_left.png) no-repeat scroll right bottom; }
.loginPage .login-header td.middle { height: 13px; background: url(../images/login/top_middle.png) repeat-x scroll left bottom; }
.loginPage .login-header td.right{ height: 13px; width: 13px; background: url(../images/login/top_right.png) no-repeat scroll left bottom; }

.loginPage .retrieve-password-instructions { color: #333333; padding-bottom: 10px; }

.loginPage .login-content td.left { width: 13px; background: url(../images/login/middle_left.png) repeat-y scroll right top; }
.loginPage .login-content td.middle { background-color: #FFFFFF; } 
.loginPage .login-content td.right { width: 13px; background: url(../images/login/middle_right.png) repeat-y scroll left top; }

.loginPage .login-footer td.left { height: 13px; width: 13px; background: url(../images/login/bottom_left.png) no-repeat scroll right top; }
.loginPage .login-footer td.middle { height: 13px; background: url(../images/login/bottom_middle.png) repeat-x scroll left top; }
.loginPage .login-footer td.right { height: 13px; width: 13px; background: url(../images/login/bottom_right.png) no-repeat scroll left top; }

.loginPage .bottomRightLink { vertical-align: middle; color: #333333; }

.loginPage .forgotPasswordLink { font-family: arial,sans-serif; font-size: 9pt; }

.loginPage .clientLoginBottomPadding { padding-bottom: 10px; }

.loginPage .forgotPasswordLinkTd { font-size: 11px; padding-top: 12px; }

.loginPage .backToLoginLink { font-family: arial,sans-serif; font-size: 9pt; vertical-align:bottom; }

.loginPage .backToLoginLinkTD { padding-right: 10px; padding-top: 12px; }

.loginPage .loginButtonRow { padding-top: 20px; }

.loginPage .loginFormTable { border-collapse:collapse; }

#loginPageContent {background-color:#FFFFFF;}
#loginPageContent ul {list-style-type:none; margin-left:0; padding-left:0; }
#loginPageContent li {margin-bottom:20px;}
#loginPageContent li.username label, #loginPageContent li.password label {
    color:#333333; font-family:arial,sans-serif; font-size:10pt; font-weight:bold; display:block;
    margin-left:60px; text-align: left;}
#loginPageContent form {}
.loginMessage {width:380px; margin-bottom: 20px;}
.forgotPassword {width:380px; text-align: center;}
.buttons {margin-top: 20px; margin-bottom: 20px;}
.loginLogo {background:transparent url(../images/login/login_gray_line.png) repeat-x scroll bottom left; padding-bottom: 4px; margin-bottom: 20px;}
.error {border: 1px solid red;}

.revealPasswordLoginFormTable { padding-bottom: 10px; }

.required { font-size:12px; color: #000000; background-color: #fff6d5; font-family: Arial, Verdana, Sans-Serif; }

input.check { border: 0 solid; height: 12px; width: 12px; background-color: #FFFFFF; }

#wrapper {

}
#main {
    width: 960px;
    margin: 80px auto;
}

.formerror {
    color: #c00;
    margin: 0 0 10px 0;
}

.formtitle {
    font-size: 10px;
    font-weight: bold;
}

