.col-sm-12 .logo {
	margin-bottom: 20px;
}

@media (min-width: 768px) {
    .rounded-box-wide {
        padding-right: 40px;
    }
}

@media (min-width: 992px) {
	.rounded-box-wide {
		padding-right: 40px;
	}
	.col-sm-12 .logo {
		margin-bottom: 30px;
	}
}