<!--<c:set var="bootstrapOverrideCss" value="${pageContext.request.contextPath}/css/bootstrap-infusionsoft.css"/>-->

<!DOCTYPE html>

<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8'/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

    <title layout:title-pattern="$CONTENT_TITLE">CAS &#8211; Central Authentication Service</title>

    <link rel="shortcut icon" th:href="@{/infusionsoft/images/favicon.ico}" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800"/>
    <link rel="stylesheet" th:href="@{/infusionsoft/infusionsoft-icon/style.css}">
    <link rel="stylesheet" th:href="@{/infusionsoft/js/animo-1.0.3/animate-animo.min.css}">
    <link rel="stylesheet" th:href="@{/infusionsoft/bootstrap-3.2.0-dist/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/infusionsoft/bootstrap-chosen/bootstrap-chosen.css}">
    <link rel="stylesheet" th:href="@{/infusionsoft/css/typeahead-bootstrap-fix.css}">
    <link rel="stylesheet" th:href="@{/infusionsoft/css/bootstrap-app-central.css}">

    <link type="text/css" rel="stylesheet" th:href="@{/infusionsoft/css/bootstrap-infusionsoft.css}"/>

    <link rel="stylesheet" th:href="@{${#themes.code('infusionsoft.css.file')}}" />

    <!--<link rel="stylesheet" th:href="@{/infusionsoft/css/chosen.min.css}">-->

    <script th:inline="javascript">
        //Necessary to overcome the known Microsoft Mobile IE bug
        //For more information, see http://mattstow.com/responsive-design-in-ie10-on-windows-phone-8.html#update-20131015
        (function() {
            if ("-ms-user-select" in document.documentElement.style && navigator.userAgent.match(/IEMobile\/10\.0/)) {
                var msViewportStyle = document.createElement("style");
                msViewportStyle.appendChild(
                    document.createTextNode("@-ms-viewport{width:auto!important}")
                );
                document.getElementsByTagName("head")[0].appendChild(msViewportStyle);
            }
        })();
    </script>
</head>
<body>

<!--<section layout:fragment="base-content" id="base-content">-->
<div layout:fragment="content"></div>
<!--</section>-->

<div th:insert="fragments/login-bottom"/>

<!--<script th:inline="javascript" layout:fragment="local_script"></script>-->
<div layout:fragment="local_script"></div>

</body>
</html>